footer{
    width: 100%;
    background-color: #eee;
    padding: 20px 0;
}
footer li{
    list-style: none;
}
footer a{
    color: #000;
    text-decoration: none;
}
.footer-wrapper{
    margin: 0 auto;
    width: 980px;
}
.footer-menu{
    display: flex;
    padding: 0 60px;
}
.footer-menu>ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    width: 500px;
}
.footer-list-category{
    padding: 10px 0;
    margin-right: 30px;
    width: 200px;
    border-right: 1px solid #000;
}
.footer-list-content{
    position: relative;
    font-size: .9em;
    padding: 3px;
    margin-left: 20px;
}

.footer-list-content a::after{
    content:'';
    display: block;
    height: 7px;
    width: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    top: 9px;
    left: -15px;
    transform: rotate(45deg);
}
.facebook-icon{
    display: inline-block;
    height: 36px;
    width: 36px;
}
.copyright{
    text-align: center;
}