* {
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
}
.content-wrapper{
    margin: 0 auto;
    width: 980px;
    display: frex;
    flex-wrap: wrap;
}
/* ----- Company Cpmment ----- */
.company-comment{
    text-align: center;
    font-family: serif;
    font-size: 1.1em;
    padding: 30px 0;
}

/* -----  NEWS and Section ----- */
.main-wrapper.news-and-section{
    background-color: #eee;
}
.content-wrapper.news-and-section{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 40px;
}
/* NEWS */
    .news-content{
        width: 500px;
    }
    .news-content h2{
        width: 60px;
        padding: 10px 15px;
        margin-bottom: 10px;
        background-color: #fff;
        font-size: 1em;
    }
    .news-content ul{
        padding: 10px;
        background-color: #fff;
        height: 160px;
        overflow-y: scroll;
    }
    .news-list{
        display: flex;
        padding: 15px 0;
        width: 100%;
        list-style: none;
        border-bottom: 1px solid grey;
    }
    .news-list p{
        padding-right: 15px;
        margin: auto 0;
        font-size: .9em;
    }
    .news-category{
        min-width: 80px;
        padding-left: 5px;
        border-left: 2px solid #000;
    }
    .news-category.business{
        border-color: #5389d6;
        color: #5389d6;
    }
    .news-category.notice{
        border-color: #bddd00;
        color: #bddd00;
    }
.company-section{
    width: 420px;
}
.company-section p{
    font-size: 1.3em;
    margin: 20px;
    height: 100px;
    line-height: 100px;
    border-left: 8px solid #9abd00;
}
.company-section a{
    display: inline-block;
    width: 340px;
    vertical-align: middle;
    padding-right: 40px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    text-align: right;
}

.company-section img{
    width: 100px;
    height: 100%;
    float: left;
}
/* ----- Tech Information and facebook ----- */
.content-wrapper.dispatch-of-information{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 40px;
}
.social-segment{
    width: 460px;
    height: 250px;
    border: 1px solid #000;
    border-top: 2px solid #9abd00;
    box-sizing: border-box;
}
.social-title{
    border-bottom: 1px solid #bbb;
    color: #9abd00;
    text-align: center;
    padding: 5px 0;
    font-size: 1.3em;
}
.social-title a{
    text-decoration: none;
    color: inherit;
}
.social-content{
    overflow-y: scroll;
    height: 205px;
}
.qiita.updated_at, .qiita.writter{
    padding: 5px;
    font-size: .9em;
    float: left;
}
.qiita.link{
    margin-left: 15px;
    clear: left;
}
.qiita.content-packet{
    border-bottom: 1px solid #bbb;
}